<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
    <script src="/static/js/lib/jquery-1.12.4.js"></script>
    <script src="/static/js/lib/jquery.dataTables.min.js"></script>
    <script src="/static/js/lib/highcharts.js"></script>
    <script src="/static/js/lib/data.js"></script>
    <script src="/static/js/lib/flatpickr.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/lib/ajaxpost.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/flatpickr.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/navigation.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/button.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>

<body>

<div class="navbar-wrapper" id="animenu" style="position:relative;top:-16px">
    <nav class="animenu">
        <button class="animenu__toggle">
            <span class="animenu__toggle__bar"></span>
            <span class="animenu__toggle__bar"></span>
            <span class="animenu__toggle__bar"></span>
        </button>
        <ul class="animenu__nav">
            <li>
                <a onClick="toggle('shop')">查询商店</a>
            </li>
            <li>
                <a onClick="toggle('product')">查询商品</a>
            </li>
            <li>
                <a onClick="toggle('order')">查询订单</a>
            </li>
            <li>
                <a onClick="toggle('data')">数据分析</a>
            </li>
        </ul>
    </nav>
</div>
<!-- END NAVBAR -->

<!--Start 查询订单-->
<div class="search bar6" id="search-order" style="display: none">
    <div class="container">
        <div class="inquirebox" style="height:670px;">
            <label class="title">查询订单</label>
            <form class="search-form" style="top:15px;width: 800px">
                <input id="o-search-id" type="text" placeholder="请输入订单号" class="input-button"/>
                <label>请选择订单时间</label>
                <div class="year">年份</div><select class="select" id="myYear"></select>
                <div class="form-item">
                    <div class="dream-controls">
                        <div class="ui-radio">
                            <div class="year" style="margin-top: 10px;margin-bottom: 10px;">月份</div>
                            <div class="dream-controls" id="month">
                                <label class="ui-checkbox" onclick="Time()"><input type="checkbox" value="1" name="month"/><span> 1</span></label>
                                <label class="ui-checkbox" onclick="Time()"><input type="checkbox" value="2" name="month"/><span> 2</span></label>
                                <label class="ui-checkbox" onclick="Time()"><input type="checkbox" value="3" name="month"/><span> 3</span></label>
                                <label class="ui-checkbox" onclick="Time()"><input type="checkbox" value="4" name="month"/><span> 4</span></label>
                                <label class="ui-checkbox" onclick="Time()"><input type="checkbox" value="5" name="month"/><span> 5</span></label>
                                <label class="ui-checkbox" onclick="Time()"><input type="checkbox" value="6" name="month"/><span> 6</span></label>
                                <label class="ui-checkbox" onclick="Time()"><input type="checkbox" value="7" name="month"/><span> 7</span></label>
                                <label class="ui-checkbox" onclick="Time()"><input type="checkbox" value="8" name="month"/><span> 8</span></label>
                                <label class="ui-checkbox" onclick="Time()"><input type="checkbox" value="9" name="month"/><span> 9</span></label>
                                <label class="ui-checkbox" onclick="Time()"><input type="checkbox" value="10" name="month"/><span> 10</span></label>
                                <label class="ui-checkbox" onclick="Time()"><input type="checkbox" value="11" name="month"/><span> 11</span></label>
                                <label class="ui-checkbox" onclick="Time()"><input type="checkbox" value="12" name="month"/><span> 12</span></label>
                            </div>
                            <div class="year" style="margin-top: 10px;margin-bottom: 10px;">具体日期</div>
                            <div class="dream-controls">
                                <input placeholder="点击输入具体日期" id="myID"/>
                                <button type="reset" style="height: 35px;top: 410px;left: 170px;border-radius: 0;">重置</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" onclick="Table('order')" style="border-radius: 0;left:0;top:530px;">搜索</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div id="orderTable" class="table-display">
            <div style="margin-left: 20px;padding-top: 20px;">
                <label class="title">查询结果</label>
            </div>
            <div id="container" class="result-container"></div>
            <table id="time" class="display" style="text-align: center;" width="100%" data-page-length="25" data-order="[[ 1, &quot;asc&quot; ]]">
                <thead>
                <tr>
                    <th>产品ID</th>
                    <th>电影名</th>
                    <th>发行时间</th>
                    <th>片长</th>
                    <th>音频类型</th>
                    <th>发行商</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>产品ID</th>
                    <th>电影名</th>
                    <th>发行时间</th>
                    <th>片长</th>
                    <th>音频类型</th>
                    <th>发行商</th>
                </tr>
                </tfoot>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<!--End 查询订单-->

<!--Start 查询商店-->
<div  class="search bar6" id="search-shop" style="display: none">
    <div class="container">
        <div class="inquirebox">
            <label class="title">查询商店</label>
            <form class="search-form">
                <input id="s-search-name" type="text" placeholder="请输入商店名称" class="input-button"/>
                <input id="s-search-address" type="text" placeholder="请输入商店地址" class="input-button"/>
                <button type="button" onclick="Table('shop')">搜索</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div id="shopTable" class="table-display">
            <div style="margin-left: 20px;padding-top: 20px;">
                <label class="title">查询结果</label>
            </div>
            <table id="shop" class="display" style="text-align: center;" width="100%" data-page-length="25" data-order="[[ 1, &quot;asc&quot; ]]">
                <thead>
                <tr>
                    <th>商店ID</th>
                    <th>商店名</th>
                    <th>地址</th>
                    <th>电话号码</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
<!--End 查询商店-->

<!--Start 查询商品-->
<div  class="search bar6" id="search-product" style="display: none">
    <div class="container">
        <div class="inquirebox">
            <label class="title">查询商店</label>
            <form class="search-form">
                <input id="p-search-name" type="text" placeholder="请输入商品名称" class="input-button"/>
                <input id="p-search-type" type="text" placeholder="请输入商品类型" class="input-button"/>
                <button type="button" onclick="Table('product')">搜索</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div id="productTable" class="table-display">
            <div style="margin-left: 20px;padding-top: 20px;">
                <label class="title">查询结果</label>
            </div>
            <table id="product" class="display" style="text-align: center;" width="100%" data-page-length="25" data-order="[[ 1, &quot;asc&quot; ]]">
                <thead>
                <tr>
                    <th>产品ID</th>
                    <th>电影名</th>
                    <th>发行时间</th>
                    <th>片长</th>
                    <th>音频类型</th>
                    <th>发行商</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>产品ID</th>
                    <th>电影名</th>
                    <th>发行时间</th>
                    <th>片长</th>
                    <th>音频类型</th>
                    <th>发行商</th>
                </tr>
                </tfoot>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--End 查询商品-->


<!--Start 数据分析-->
<div  class="search bar6" id="data-analysis" style="display: none">
    <div class="container">
        <div class="inquirebox">
            <label class="title">数据分析</label>
            <form class="search-form">
            </form>
        </div>
    </div>
</div>
<!--End 数据分析-->

<script type="text/javascript">
    document.getElementById("myID").flatpickr();
</script>

</body>
</html>